@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom styles */
body {
  @apply bg-gray-100 text-gray-900;
  font-family: 'Baloo 2', cursive;
}

/* Navbar hide/show on scroll */
.navbar {
  transition: transform 0.3s ease-in-out;
}

/* Job Listings Container */
.jobs-container {
  @apply p-5;
  font-family: Arial, sans-serif;
}

/* Error Message */
.error-message {
  @apply text-red-600 font-bold;
}

/* Job Listings Layout */
.job-listings {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 mt-5;
}

/* Job Card Styles */
.job-card {
  @apply border border-gray-200 rounded-lg p-6 shadow-md transition-transform transform 
    hover:scale-105 hover:shadow-lg;
}

/* Dark Mode Support */
.dark .job-card, .job-card.dark-mode {
  @apply bg-[#111c44] text-white border-gray-700;
}

.dark .job-card:hover {
  @apply shadow-2xl;
}

/* Job Title Styling */
.job-card h2 {
  @apply text-xl font-semibold;
}

/* Job Description Styling */
.job-card p {
  @apply text-base mt-3 leading-relaxed;
}

/* Read More Link Styling */
.read-more {
  @apply inline-block mt-4 text-blue-600 font-semibold hover:text-blue-800;
}

.bg-custom-gradient {
  background: linear-gradient(rgb(35, 124, 178), rgb(24, 81, 134));
}

/* Curved Section Divider */
.clip-top {
  clip-path: ellipse(50% 100% at 50% 0%);
}

.clip-bottom {
  clip-path: ellipse(50% 100% at 50% 100%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7551ff;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}

/* Hide scrollbar when not needed */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}

/* Light and Dark Mode for Content Area */
.content-area {
  @apply h-full overflow-y-auto scrollbar-hide p-4 transition-all;
}

/* Light Mode */
.light-mode {
  @apply bg-gray-100 text-gray-900;
}

/* Dark Mode */
.dark-mode {
  @apply bg-[#0b1437] text-white;
}

/* Responsive Hero Section */
.hero-section {
  @apply flex flex-row items-center justify-between;
}

@media (max-width: 1024px) {
  .hero-section {
    @apply flex flex-row items-center justify-between px-6;
    height: 97vh; /* adjust as needed */
  }
  .hero-section > div:first-child {
    @apply w-3/5;
    margin-top: 190px; /* text ko neeche shift */
  }
  .hero-section > div:last-child {
    @apply w-[270px] h-[500px];
    margin-top: 180px;
  }
}

@media (max-width: 640px) {
  .hero-section {
    height: 95vh; /* adjust as needed */
  }
  .hero-section > div:first-child {
    margin-top: 190px; /* text ko neeche shift */
  }
  .hero-section > div:last-child {
    width: 115px;
    height: 350px;
    margin-left: 75px;
    margin-top: 150px;
  }
}